@model MintPlayer.Web.Server.ViewModels.Account.ExternalLoginResultVM
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bezig met verwerken...</title>
    <script type="text/javascript">
        var message = {
            status: @Model.Status,
            medium: "@Model.Medium",
            platform: "@Model.Platform",
            error: "@Model.Error",
            errorDescription: "@Model.ErrorDescription"
        };
        window.opener.postMessage(JSON.stringify(message), "https://mintplayer.com");
    </script>
</head>
<body>
</body>
</html>