@model MintPlayer.Web.Server.ViewModels.Account.ExternalLoginResultVM
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bezig met verwerken...</title>
    <script type="text/javascript">
        var message = {
            status: @Model.Status,
            medium: "@Model.Medium",
            platform: "@Model.Platform",
            error: "@Model.Error",
            errorDescription: "@Model.ErrorDescription"
        };
        window.opener.postMessage(JSON.stringify(message), "https://mintplayer.com");
    </script>
</head>
<body>
    <h1>Sign-in succeeded</h1>
    <p>
        We&#39;ve successfully registered your @Model.Platform login. If this window does not close automatically, you can safely close it now, and continue using the application.
    </p>
    <p>
        You are seeing this window because you&#39;re visiting the application through a web browser while the PWA is installed.
        Web browsers do not yet support using window.open to open a url in the webbrowser instead of the PWA.
        <a href="https://github.com/w3c/manifest/issues/989" target="_blank">Click here for more information</a>.
    </p>
</body>
</html>