@model MintPlayer.Web.ViewModels.Account.TokenMessageVM
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bezig met verwerken...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script>
		// if we don't receive an access token then login failed and/or the user has not connected properly
		var accessToken = "@Model.AccessToken";
		var message = {};
		if (accessToken) {
			message.status = true;
			message.platform = "@Model.Platform";
			message.token = accessToken;
		} else {
			message.status = false;
			message.platform = "@Model.Platform";
			message.error = "@Model.Error";
			message.errorDescription = "@Model.ErrorDescription";
		}
		window.opener.postMessage(JSON.stringify(message), window.location.origin);
    </script>
</body>
</html>